/* Default Green Theme */
body {
	font-family: "Rockwell", "Roboto Slab", serif;
	background-color: #008000;
	color: #40e0d0;
	margin: 0;
	padding: 20px;
}

header {
	text-align: center;
	margin-bottom: 30px;
}

#profile-img {
	width: 150px;
	border-radius: 50%;
}

button {
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
}

/* Blue Theme */
body.dark {
	background-color: #0000ff;
	color: #800080;
}
