/* Default Green Theme */
body {
	font-family: "Rockwell", "Roboto Slab", serif;
	background-color: #ff0000;
	color: #008000;
	margin: 0;
	padding: 20px;
}

header {
	text-align: center;
	margin-bottom: 30px;
}

#profile-img {
	width: 150px;
	border-radius: 50%;
}

button {
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
}

/* Blue Theme */
body.blue {
	background-color: #0000ff;
	color: #ffa500;
}
